= render :partial => 'admin/shared/fulfillment_sub_menu'

%h1 PO Files
%div
  - @po_files.each do |f|
    = link_to f.file_name, admin_po_file_path(f)

%div #{button_to 'Generate PO', admin_po_files_path}